; vim: set fileencoding=utf-8 :
; Pavel Korshunov <Pavel.Korshunov@idiap.ch>
; Thu 23 Jun 13:43:22 2016

[buildout]
parts = scripts
eggs =  bob.pad.voice
        bob.bio.spear
        bob.pad.base
        bob.bio.base
        bob.db.base
        gridtk

extensions = bob.buildout
             mr.developer

auto-checkout = *
develop = src/bob.bio.spear
         src/bob.pad.base
         src/bob.bio.base
         src/bob.db.base
          .
         
; options for bob.buildout
debug = true
verbose = true
newest = false

[sources]
bob.bio.spear = git git@gitlab.idiap.ch:bob/bob.bio.spear.git
bob.db.base = git git@gitlab.idiap.ch:bob/bob.db.base.git
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base.git
bob.pad.base = git git@gitlab.idiap.ch:bob/bob.pad.base.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
