; vim: set fileencoding=utf-8 :
; Tue 16 Aug 15:00:20 CEST 2016

[buildout]
parts = scripts
eggs =  bob.pad.voice
        bob.learn.tensorflow


extensions = bob.buildout
             mr.developer

auto-checkout = *

develop = src/bob.learn.tensorflow
          .

; options for bob.buildout
debug = true
verbose = true
newest = false

[sources]
bob.learn.tensorflow = git branch=audio-support git@gitlab.idiap.ch:tiago.pereira/bob.learn.tensorflow.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
